@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* ! ## Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* ! ## Variables  */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* ! ## Base styles */

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  line-height: normal;

}

/* ! ## Nav */

nav {
  border: 2px solid blue;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: var(--off-white);
}

nav,
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  gap: 1em;
  font-size: 0.8rem;
  color: var(--dark-grayish-blue);
  margin-right: 1em;
}

/* ! ## Main */

main {
  padding: 1em;
  display: grid;
  grid-template-areas:
    "hero"
    "featured";
  gap: 1em;
  border: 2px solid blue;
}

section.section--hero {
  grid-template-areas: "hero";
  display: flex;
}

section.section--featured {
  grid-template-areas: "featured";
}

/* ! ## LeadArticle */

.lead-article--img {
  width: 100%;
}

.lead-article {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.lead-article--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.lead-article--header {
  margin: auto auto 0 0;
  font-size: 2.5rem;
}

.lead-article--text p {
  margin: 2em 1em 2em 0;
  color: var(--dark-grayish-blue);
}

button {
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  margin: 0;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* ! ## NewStories */

.new-stories {
  border: 2px solid red;
  background-color: var(--very-dark-blue);
  color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.new-stories h2 {
  color: var(--soft-orange);
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

.new-stories h3 {
  color: var(--off-white);
}

.new-stories hr {
  border: none;
  border-bottom: 1px solid var(--grayish-blue);
  margin: 1em 0;
  width: 100%;
  align-self: center;
}

/* ! ## Featured */

.featured h2 {
  color: var(--grayish-blue);
}

.featured h3 {
  color: var(--very-dark-blue);
}

.featured {
  border: 2px solid blue;
  color: var(--dark-grayish-blue);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.featured--content {
  border: 2px solid fuchsia;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

.featured--img {
  max-width: 100px;
}

/* ! ## Media Queries */

@media (max-width: 768px) {
  main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
  }

  .lead-article--content {
    display: flex;
    flex-direction: column;
  }
}